<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/cloud.png">

</head>

<body>

    <div class="main-content">
        {{>headers}}
        <p> made by Tom with the course.</p>
        <img class="avatar" src="img/tom4.jpg">

    </div>

    <div>
        {{>footer}}
    </div>

</body>

</html>